{% extends 'pur_beurre/base.html' %}

{% block content %}
<script type='text/javascript'>
// petite bidouille pour scroller sur le dashboard
if(window.location.hash != null){
    var hash = window.location.hash.substring(1);
    if(hash !== "list_products_section") {
        window.location.replace("#");
        // slice off the remaining '#' in HTML5:
        if (typeof window.history.replaceState == 'function') {
            history.replaceState({}, '', window.location.href.slice(0, -1));
            }
        location.replace('#list_products_section');
        window.location.reload( false );
        }
    }
</script>
<section class="page-section" id="list_products_section">

    <div style="text-align: center">
        <h1>Produits correspondants à votre selection :</h1>
    </div>

    <div class="product container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Visuel</th>
            <th>Nom</th>
            <th>Nom générique</th>
            <th>Code barre</th>
            <th>Marque</th>
            <th>Magasins</th>
            <th>Nutrition grade</th>
            <th>Lien OFF</th>
            <th>Substitut</th>
          </tr>
        </thead>
        <tbody>
    {% for product in produits_trouves %}
            <tr>
                <td class="col bg-info">
                <img style="width: auto; height: 9em;" class="rounded" src="{{product.image_front_url}}"/>
                </td>
                <td>
                {{ product.name }}
                </td>
                <td class="col bg-warning">
                {{ product.generic_name|truncatewords_html:80 }}
                </td>
                <td>
                {{ product.code }}
                </td>
                <td>
                {{ product.brands }}
                </td>
                <td>
                {{ product.stores }}
                </td>
                <td>
                    <span class="badge-pill badge-info text-uppercase">
                    {{ product.nutrition_grade }}
                    </span>
                </td>
                <td>
                <a href="{{ product.url }}">Descriptif OpenFoodsFacts</a>
                </td>
                <td>
                <a href="" class="btn btn-primary">Choisir un substitut</a>
                </td>
            </tr>
   {% endfor %}
        </tbody>
      </table>
    </div>

    {# Mise en forme de la pagination #}
    {% if is_paginated %}
        <div class="pagination" style="text-align: center">
               {% if page_obj.has_previous %}
                   <a href="?page={{ page_obj.previous_page_number }}">Précédente</a> —
               {% endif %}
               Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}
               {% if page_obj.has_next %}
                  — <a href="?page={{ page_obj.next_page_number }}">Suivante</a>
               {% endif %}
        </div>
    {% endif %}
</section>

{% endblock %}
