{% extends 'pur_beurre/base.html' %}
{% load urlparams %}

{% block content %}
<script type='text/javascript'>
// petite bidouille pour scroller sur le dashboard
if(window.location.hash != null){
    var hash = window.location.hash.substring(1);
    if(hash !== "register_substitutes_section") {
        window.location.replace("#");
        // slice off the remaining '#' in HTML5:
        if (typeof window.history.replaceState == 'function') {
            history.replaceState({}, '', window.location.href.slice(0, -1));
            }
        location.replace('#register_substitutes_section');
        window.location.reload( false );
        }
    }
</script>
<section class="page-section" id="register_substitutes_section">

    <div class="container">
        Substitution enregistrée
    </div>

</section>

{% endblock %}
