{% extends 'pur_beurre/base.html' %}
{% load static %}
{% block title %}Pur Beurre{% endblock title %}
{% block content %}
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-white mt-0">Colette & Rémi</h2>
                        <hr class="divider light my-4" />
                        <div class="container-textAbout" style="text-align: justify;">
                            <p class="text-white-50 mb-4">
     Nous sommes une jeune startup fondée par Remy et Colette Tatou, deux restaurateurs de renom. Notre restaurant, situé à Montmartre (Paris), compte une cinquantaine de couverts et ne désemplit pas. Notre spécialité, la ratatouille, nous attire une clientèle internationale charmée par les délices de ce plat typique.
                            </p>
                            <p class="text-white-50 mb-4">
    Remy et Colette sont amoureux de la gastronomie française (on ne peut les blâmer !). Travaillant quotidiennement avec les meilleurs produits du terroir, ils affectionnent particulièrement la bonne chaire et aiment partager leur passion. Il est donc normal que Remy ait sauté au plafond quand Colette, un jour de déprime, sortit du placard un kilo de Nutella et l’attaqua à la petite cuillère. Pourquoi ne pas opter pour une pâte à tartiner aux noisettes, plus consistante et moins sucrée ? Pourquoi, oh pourquoi s’infliger une telle souffrance ? Rémy était sidéré. La réponse de Colette fut simple : elle n’avait pas trouvé de substitut assez convainquant. A vrai dire, elle n’avait même pas cherché.
                            </p>
                            <p class="text-white-50 mb-4">
    Tous deux se souvinrent alors que nombre de leurs clients leur avaient compté, entre deux verres, qu’il était difficile de trouver des substituts aux cochonneries que nous mangions dès le petit déjeuner. Pourquoi ne pas lancer une plateforme web en ce sens ? Voici votre mission !
                            </p>
                        </div>

                        <p class="text-white-50 mb-4">
                        <h3> Notre identité </h3>
                        De la ratatouille aux croissants
                        Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille.
                       </p>

                        <div class="container">
                          <div class="row" >
                            <div class="col-lg-6 col-sm-6 center-block" style="float: none">
                                <img class="rounded mx-auto d-block"  src="{% static 'dist/assets/img/colette-tatou-full.jpg' %}" alt="colette-tatou-full.jpg"
                                style="width: auto; height: 15em; margin-bottom: 1em;">
                            </div>
                            <div class="col-lg-6 col-sm-6 center-block" style="float: none">
                                <img class="rounded mx-auto d-block"  src="{% static 'dist/assets/img/ratatouille-portrait.jpg' %}" alt="ratatouille-portrait.jpg"
                                style="width: auto; height: 15em; margin-bottom: 1em;">
                            </div>
                          </div>
                          <div class="row" >
                            <div class="col-lg-6 col-sm-6 center-block" style="float: none">
                                <div class="container-textAbout" style="text-align: justify;">
                                    Colette Tatou : "Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"
                                 </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 center-block" style="float: none">
                                <div class="container-textAbout" style="text-align: justify;">
                                    Remy : "Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !"
                                 </div>
                            </div>
                          </div>

                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="mt-0">Contactez-nous !</h2>
                        <hr class="divider my-4" />
                        <p class="text-muted mb-5">Prêt à déguster  nos  produits ? Appelez-nous ou envoyez-nous un e-mail et nous vous répondrons dans les plus brefs délais!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                        <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                        <div>+33 01 23 45 67 89</div>
                    </div>
                    <div class="col-lg-4 mr-auto text-center">
                        <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                        <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                        <a class="d-block" href="mailto:contact@ypurbeurre.com">contact@purbeurre.com</a>
                    </div>
                </div>
            </div>
        </section>

{% endblock content %}
