{% extends 'pur_beurre/base.html' %}

{% load static %}
{% block content %}

<section class="page-section" id="chg_pwd_section">
<form class="form-signin rounded align-items-center" action="{% url 'login' %}" method="POST" >
    <div class="text-center">
        <img src="{% static 'dist/assets/img/logo_pur_beurre.png' %}" alt="" width="80" height="80">
        <h1 class="pb-2">Send password reset link</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-center">
            <button class="btn btn-primary mt-4" type="submit">Reset</button>
        </div>
    </div>
</form>
<div class="text-center">
    <a href="{% url 'dashboard' %}">Back to dashboard</a>
</div>

</section>
<script type='text/javascript'>
// petite bidouille pour scroller sur le dashboard
if(window.location.hash != null){
    var hash = window.location.hash.substring(1);
    if(hash !== "chg_pwd_section") {
        window.location.replace("#");
        // slice off the remaining '#' in HTML5:
        if (typeof window.history.replaceState == 'function') {
            history.replaceState({}, '', window.location.href.slice(0, -1));
            }
        location.replace('#chg_pwd_section');
        window.location.reload( false );
        }
    }
</script>
{% endblock %}
